<!DOCTYPE html>
<html>
{% set title="MKProjects"%}
{% include "head" %}

<body style="background-color: black; color: white;">
    {% include "nav" %}
    <main>
        <section class="w3-content w3-padding w3-border w3-round">
            <h1>Welcome to MKProjects!</h1>
            <p>🚀 Exploring the World of Open Source 🌐</p>
            <p>I'm Mustafif Khan, and I'm thrilled to have you here at MKProjects. This is where I've been curating a
                world of open-source innovation since 2021.</p>
            <p>🧠 <strong>Why the Colorful Brain?</strong> My logo, a brain filled with colors, represents me as a
                visionary with a multitude of ideas. Here, you'll discover a creative fusion of technology and
                innovation, all brought to life through open-source projects.</p>
            <p>🌟 <strong>What to Expect:</strong></p>
            <ul>
                <li><strong>Open Source Gems:</strong> Dive into a collection of open-source projects that I've poured
                    my heart and soul into. Each project tells a story of innovation, collaboration, and
                    problem-solving.</li>
                <li><strong>A Vision for Tomorrow:</strong> I believe in a future shaped by technology, creativity, and
                    collaboration. Join me on this journey towards building a brighter tomorrow through code and
                    innovation.</li>
            </ul>
            <p>👨‍💻 <strong>Who Am I?</strong> I'm a tech enthusiast, problem solver, and a firm believer in the power
                of open-source. Feel free to explore my projects, learn more about my journey, and get in touch if you'd
                like to collaborate or share your thoughts.</p>
            <p>🔗 <strong>Connect with Me:</strong> I'm just a click away! Connect with me on social media, explore my
                GitHub contributions, or drop me a message. Let's embark on this exciting journey together.</p>
            <p>Thank you for visiting MKProjects. Feel free to explore, learn, and dream with us. Together, we can turn
                ideas into reality.</p>
            <p>Let's innovate, inspire, and code the future!</p>
            <p>Best regards, <br>Mustafif Khan</p>
        </section>
        <br>
        <section class="w3-content w3-padding w3-border w3-round w3-center">
            <h1>Featured Projects!</h1>

            {% for button in buttons %}
            <a href="{{button.url}}" class="w3-button w3-card w3-white w3-padding w3-round w3-margin"
                style="width: 75%;">
                <div class="github-title"><i class="fa fa-github"></i>
                    {{button.title}}</div>
                <div class="github-desc">{{button.description}}</div>
                {% for badge in button.badges_urls %}
                    <img src="{{badge}}">
                {% endfor %}
            </a>
            {% endfor %}

        </section>
    </main>

    <footer class="w3-center w3-margin">
        <!-- Your footer content can go here -->
        <p>&copy; 2023 MKProjects. All rights reserved.</p>
    </footer>
</body>

</html>