<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }

        .bgimg {
            background-position: center;
            background-image: url("/static/Banner.png");
            background-size: cover;
            min-height: 75%;
        }

        .menu {
            display: none;
        }
    </style>
</head>

<body>

    <!-- Links (sit on top) -->
    <div class="w3-top">
        <div class="w3-row w3-padding w3-black">
            <div class="w3-col s3">
                <a href="/" class="w3-button w3-block w3-black">HOME</a>
            </div>
            <div class="w3-col s3">
                <a href="/projects" class="w3-button w3-block w3-black">PROJECTS</a>
            </div>
            <div class="w3-col s3">
                <a href="/resume" class="w3-button w3-block w3-black">RESUME</a>
            </div>
            <div class="w3-col s3">
                <a href="/pages" class="w3-button w3-block w3-black">PAGES</a>
            </div>
        </div>
    </div>

    <!-- Header with image -->
    <header class="bgimg w3-display-container" id="home">
        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
            <span class="w3-tag">Developed By Mustafif Khan</span>
        </div>
        <div class="w3-display-bottomright w3-center w3-padding-large">
            <span class="w3-text-white">Opensource Projects under MIT License</span>
        </div>
    </header>

    <!-- Add a background color and large text to the whole page -->
    <div class="w3-sand w3-large">
        <div class="w3-container w3-padding-16" id="submenu">
            <!-- Sub Menu for Content -->
            <div class="w3-row w3-padding w3-black">
                <div class="w3-third">
                    <a href="#texcreate" class="w3-button w3-block w3-black">TEXCREATE</a>
                </div>
                <div class="w3-third">
                    <a href="#texcore" class="w3-button w3-block w3-black">TEXCORE</a>
                </div>
                <div class="w3-third">
                    <a href="#mufi" class="w3-button w3-block w3-black">MUFI EXPERIMENTS</a>
                </div>
            </div>


            <div class="w3-container w3-teal">
                <div class="w3-row w3-padding">
                    <div class="w3-col s3 w3-right w3-margin-left">
                        <div class="w3-bar-block">
                            <a href="https://github.com/MKProj/texcreate"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                TexCreate
                                <div class="w3-small">A LaTeX project creator</div>
                                <img alt="Crates.io" src="https://img.shields.io/crates/v/texcreate">
                                <img alt="Crates.io" src="https://img.shields.io/crates/d/texcreate">
                            </a>
                            <a href="https://github.com/MKProj/texcreate_repo"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                TexCreate Repo
                                <div class="w3-small">Provides the <code>Repo</code> type.</div>
                                <img alt="Crates.io" src="https://img.shields.io/crates/v/texcreate_repo">
                                <img alt="Crates.io" src="https://img.shields.io/crates/d/texcreate_repo">
                            </a>
                            <a href="https://github.com/MKProj/texcreate_v3_compiler_conf"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                TexCreate V3 Compiler Conf
                                <div class="w3-small">Provides the <code>Compiler</code> type.</div>
                                <img alt="Crates.io" src="https://img.shields.io/crates/v/texc_v3_compiler_conf">
                                <img alt="Crates.io" src="https://img.shields.io/crates/d/texc_v3_compiler_conf">
                            </a>
                            <a href="https://github.com/MKProj/texc_v3_web"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                TexCreate V3 Web
                                <div class="w3-small">A local web app of TexCreate</div>
                                <img alt="Crates.io" src="https://img.shields.io/crates/v/texc_v3_web">
                                <img alt="Crates.io" src="https://img.shields.io/crates/d/texc_v3_web">
                            </a>
                            <a href="https://github.com/MKProj/texcgen"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                TexCGen
                                <div class="w3-small">A TexCreate template generator</div>
                            </a>
                            <a href="https://github.com/MKProj/mkproj_texcgen"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                MKProj TexCGen
                                <div class="w3-small">MKProj TexCGen fork</div>
                            </a>
                            <a href="https://github.com/MKProj/texcweb"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                TexCreate Web
                                <div class="w3-small">Web App of texcreate.mkproj.com</div>
                            </a>
                        </div>
                    </div>

                    <div class="w3-content w3-padding-16">
                        <!-- Page content -->
                        <h5 class="w3-center w3-padding" id="texcreate"><span class="w3-tag w3-wide">TEXCREATE</span>
                        </h5>
                        <p>
                            TexCreate is a LaTeX project creator that utilizes prebuilt templates to generate projects
                            built for
                            your needs. This project had started in 2021 with the intention to reduce the amount of
                            times I had found myself
                            copying the same document structures and changing it.
                        </p>
                        <p>As of 2023, I had released the 3rd major version of TexCreate which redesigned every aspect
                            of the project
                            while staying true to the core design. With the focus of template modularity, I am able to
                            distribute templates for the
                            project without having to release new minor versions, and instead relies on a repo release
                            web service.
                        </p>
                        <p>
                            The project has expanded greatly from the 1st version that only contained two different
                            crates, now this is a multi-crate
                            workspace spanning over 8000 lines of code! We currently support installing TexCreate using
                            package managers, <strong>cargo</strong> and
                            <strong>apt</strong>.
                        </p>
                        <p>
                            For more information about TexCreate, it is recommended to check out the official website at
                            <a href="https://texcreate.mkproj.com">texcreate.mkproj.com</a>
                        </p>
                    </div>
                </div>

            </div>


            <div class="w3-container w3-orange">
                <div class="w3-row w3-padding">
                    <div class="w3-col s3 w3-right w3-margin-left">
                        <div class="w3-bar-block">
                            <a href="https://github.com/MKProj/texcore"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                TexCore
                                <div class="w3-small">Create LaTeX documents using native Rust types.</div>
                                <img alt="Crates.io" src="https://img.shields.io/crates/v/texcore">
                                <img alt="Crates.io" src="https://img.shields.io/crates/d/texcore">
                            </a>

                        </div>
                    </div>

                    <div class="w3-content w3-padding-16">
                        <!-- Page content -->
                        <h5 class="w3-center w3-padding" id="texcore"><span class="w3-tag w3-wide">TEXCORE</span></h5>
                        <p>
                            TexCore is a library that allows developers to create LaTeX documents using native Rust
                            types with the idea of having them treated as a generic type, <code>Element</code>. This
                            library
                            supports different features such as async, parallel iteration, etc.
                        </p>
                        <p>
                            At first TexCore was built as a successor to a previous project, TeX-rs, but it has now
                            become a lot larger than that project was, and is used heavily in TexCreate. All templates
                            use
                            TexCore's <code>texcreate_templates</code> feature, and it is the core of the template
                            modularity
                            mechanism.
                        </p>
                        <p>
                            If you're interested in learning about TexCore, I recommend looking at the documentation
                            which provides
                            an overview of all the elements available, or look at the examples in the TexCore repo.
                            The documentation can be found at <a
                                href="https://docs.rs/texcore/latest/texcore/">docs.rs</a>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-purple">
                <div class="w3-row w3-padding">
                    <div class="w3-col s3 w3-right w3-margin-left">
                        <div class="w3-bar-block">
                            <a href="https://github.com/MKProj/mufi-experiments"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                Mufi Experiments
                                <div class="w3-small">Experimental projects.</div>
                            </a>
                            <a href="https://github.com/MKProj/hecto"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                Hecto
                                <div class="w3-small">A Vim-like text editor in Rust</div>
                            </a>
                            <a href="https://github.com/MKProj/Mufi-Template"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                Mufi-Lang
                                <div class="w3-small">An OOP dynamic toy language written in C</div>
                            </a>
                            <a href="https://github.com/MKProj/minkernel"
                                class="w3-bar-item w3-button w3-card w3-white w3-padding">
                                <i class="fa fa-github w3-margin-right"></i>
                                Min-Kernel
                                <div class="w3-small">A minimal kernel written in Rust</div>
                            </a>
                        </div>
                    </div>

                    <div class="w3-content w3-padding-16">
                        <!-- Page content -->
                        <h5 class="w3-center w3-padding" id="mufi"><span class="w3-tag w3-wide">MUFI EXPERIMENTS</span>
                        </h5>
                        Mufi Experiments are projects written usually under guides that I hope to expand on as I continue to 
                        learn the topics. The current projects under this "brand" are related to topics I'd like to master 
                        such as kernel development, compiler design, and etc. 
                    </div>
                </div>
            </div>

            <!-- End page content -->
        </div>






        <!-- Footer -->
        <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
            <p>Powered by <a href="https://github.com/MKProj" title="MKProj.com" target="_blank"
                    class="w3-hover-text-green">MKProjects</a></p>
        </footer>


</body>

</html>